#root {
	width: 400px;
	padding: 2em;
	margin: 2em auto;
	border: 1px solid #e0e0e0;
	border-radius: 1em;
}

cinput {
	margin-bottom: 1em;
}

label {
	display: flex;
	marign: 1em 0;
}

label span {
	flex-basis: 100px;
}

input,textarea {
	margin-bottom: 2em;
	flex: 1;
	resize: none;
}

.comment {
	padding: 1em;
	border-bottom: 1px solid #f0f0f0;
	display: flex;
}

.comment-author {
	color: steelblue;
	flex-basis: 50px;
}

.comment-delete {
	flex: ;
}
